*.tfplan
*.tfstate*
*.key
*.pub
*.vault
vault.yml
plan.sh
build.sh
destroy.sh
variables.tf
# have to support both UNIX and DOS directories
\.vagrant
/.vagrant
\.terraform
/.terraform
\plugins
/plugins
\uploads
/uploads
\databases
/databases
ssh_config
